<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
     <h1>{{ text0 }}</h1>
     <ul>
         <li>{{ text3 }} <button>{{ text1 }}</button> <button>{{ text2 }}</button></li>
         <div style="height: 10px;"></div>
         <li>{{ text4 }} <button>{{ text1 }}</button> <button>{{ text2 }}</button></li>
         <div style="height: 10px;"></div>
         <li>{{ text5 }} <button>{{ text1 }}</button> <button>{{ text2 }}</button></li>
         <div style="height: 10px;"></div>
         <li>{{ text6 }} <button>{{ text1 }}</button> <button>{{ text2 }}</button></li>
     </ul>
     <button><a href="http://127.0.0.1:8000/task3/main_pg/">{{ text7 }}</a></button>
     <div style="height: 10px;"></div>
     <button><a href="http://127.0.0.1:8000/task3/cart_pg/">{{ text8 }}</a></button>

</body>
</html>