<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
     <h1>{{ text0 }}</h1>
     <ul>
         <li><a href="http://127.0.0.1:8000/task3/main_pg/">{{ text1 }}</a></li>
         <div style="height: 10px;"></div>
         <Li><a href="http://127.0.0.1:8000/task3/shop_pg/">{{ text2 }}</a></Li>
         <div style="height: 10px;"></div>
         <li><a href="http://127.0.0.1:8000/task3/cart_pg/">{{ text3 }}</a></li>
     </ul>

</body>
</html>